@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

* {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

.font-arabic {
  font-family: var(--font-ibm-plex-arabic), sans-serif;
}
